@font-face {
    font-family: 'poetsenoneregular';
    src: url('fonts/poetsenone-regular-webfont.woff2') format('woff2'),
         url('fonts/poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_3XLtIt';
    src: url('fonts/sourcesans3-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/sourcesans3-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_3extralight';
    src: url('fonts/sourcesans3-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/sourcesans3-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e5e4;
}

.header {
    font-family: 'poetsenoneregular';
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 70px;
    font-weight: normal;
    padding-top: 50px;
}

.add-book {
    margin-top: 40px;
    margin-bottom: 50px;
    height: 200px;
    width: 400px;
    font-weight: bolder;
    background-color: #d6d3d1;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome {
    font-family: 'source_sans_3extralight';
    text-align: center;
    margin: 50px 10px 0px 10px;
}

dialog {
    font-family: 'source_sans_3extralight';
    text-align: start;
    position: relative;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    top: 25%;
    height: 200px;
    width: 350px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

form {
    margin: 0;
    width: 350px;
    box-sizing: border-box;
    margin-top: 35px;
}

label {
    display: inline-block;
    text-align: left;
    margin-bottom: 8px;
}

input {
    font-family: 'source_sans_3extralight';
    float: right;
    padding-left: 2px;
    width: 50%;
}

#read {
    margin-top: 2px;
    margin-right: 87px;
}

button {
    margin: 0px 5px 15px 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    cursor: pointer;
    border-radius: 100px;
    width: 80px;
    height: 35px;
}

button:hover {
    border: 1px solid #0096ff;
}



